@{
    ViewData["Title"] = "Automation Solutions";
}

<h2>Configuration Management</h2>

<p>Create easily reproducable configurations, reduces error-prone manual changes, allows for easy replication of configuration between mutliple environments (production, staging, testing).</p>

<ul>
    <li>Ansible</li>
    <li>Puppet</li>
</ul>

<h2>Continous Integration</h2>

<p>Improve consistency of application delivery with continous integration, the ability to automatically build and test all software whenever changes are made allow you to deliver a more solid experience to customers and reduce costs.</p>

<ul>
    <li>CircleCi</li>
    <li>TeamCity</li>
    <li>TravisCi</li>
</ul>

<h2>Automated Deployments</h2>

<p>Reduce error-prone manual processes to easily repeatable and automated processes.</p>

<ul>
    <li>CircleCi</li>
    <li>Octopus Deploy</li>
    <li>TeamCity</li>
    <li>TravisCi</li>
</ul>


<h2>Containerization</h2>

<p>Providing lightweight easily reproducable stacks helps streamline the development process and reduces "works on my machine" situations by replicating production-like configurations in development environments.</p>

<ul>
    <li>Docker</li>
</ul>

<h2>Orchestration</h2>

<ul>
    <li>Ansible</li>
    <li>PowerShell</li>
    <li>SaltStack</li>
</ul>