@{
    ViewData["Title"] = "Infrastructure Solutions";
}

<h2>Cloud</h2>

<p>Cloud solutions allow flexibility and quick provisioning without the worry of on-site infrastructure.</p>

<h2>In-House</h2>

<p>Sometimes an in-house solution is appropirate, whether it's maintaining and advising on current infrastructure or assistance on buildouts, we have solutions for you.</p>

<ul>
    <li>Asterisk</li>
    <li>AWS</li>
    <li>EqualLogic</li>
    <li>Nagios</li>
    <li>Nexenta</li>
    <li>Nimble</li>
    <li>VMware</li>
    <li>Zabbix</li>
</ul>