@{
    ViewData["Title"] = "Software Solutions";
}

<h2>Custom Software Development</h2>

<p>Whether it's building a new software solution, maintaining an old one, or porting an old one to a newer solution, we have a wide array of options on platforms and languages to fit your needs. Need to port an old legacy Visual Basic 6 app to .NET on Windows Server 2012 R2 and IIS 8? Want to stand up new services on .NET Core on Linux? Got a Node.js project you need maintained? We're pretty flexible!</p>

<ul>
    <li>.NET</li>
    <li>.NET Core</li>
    <li>Node.js</li>
    <li>Ruby</li>
    <li>PHP</li>
    <li>Python</li>
    <li>Visual Basic</li>
</ul>

<h2>Systems Integration</h2>

<p>Gluing software together can be difficult at times.</p>

<p>Previous solutions include:</p>

<ul>
    <li>AllScripts Professional EHR</li>
    <li>CallSource</li>
    <li>NetSuite</li>
    <li>Microsoft Dynamics</li>
    <li>SalesForce</li>
    <li>SugarCRM</li>
    <li>Switchvox</li>
</ul>

<h2>Consistency and Reliability</h2>

<p>A methodical approach to software development which helps reduce software defects 40-90%.</p>

