@{
    ViewData["Title"] = "Virtualization Solutions";
}

<p>Looking to more effectively utilize server hardware? Virtualization allows you to pool resources effectively.</p>

<h2>AWS</h2>

<p>AWS is the largest cloud provider out there.</p>

<h2>VMware</h2>

<p>VMware provides industry-leading virtualization solution stacks, we've provided build-out solutions and automation for VMware's popular vSphere solution.</p>
